<div id="tooplate_wrapper">    
    <div id="tooplate_middlebis">
    	<div id="mid_titlebis">
        	Amicale des Beaudottes	
        </div>
        <p id="sous-titrebis"> Qui sommes-nous ? </br>
        	akzduhdmlkdhlkjQHDOIQHDoinhQ,DOIUNHQUFDIHNQF
        	QSJHGDBQFGnlqsflkjqnkjfngkqnfkxqd
        	cqefrvzetesqetzqevt</br>
        </br>
        aiuryaoiuhrodxaiurzciuaryxiuatroiuctaiytrxiuatuzrcbuQHG JBQHGSKJG
     QLIURCgZBRCYGQKGRC kgbrckyQGBXRNGQG</p>
    </div> <!-- end of middle --> 
</div>