<div id="tooplate_wrapper">
	
    
    <div id="tooplate_middle">
    	<div id="mid_title">
        	Amicale des Beaudottes!	
        </div>
        <p>Découvrez ici nos activités et comment utiliser votre application web pour favoriser nos échanges</p>
    </div> <!-- end of middle --> 