<div id="tooplate_wrapper">    
    <div id="tooplate_middle">
    	<div id="mid_title">
        	Amicale des Beaudottes!	
        </div>
        <iframe width="560" height="315" src="//www.youtube.com/embed/U_Sbo-H0zKU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div> <!-- end of middle --> 
</div>

<!-- <div class="neon text-center">
<script src="http://www.widgeo.net/message.php?msg=  IMPORTANT : Reunion avec le bailleur&adult=0&cat=multimedia&big=big&cl=yellow&idec=1324717017"></script><br>
<a href="http://www.widgeo.net"><img alt="widgets" border="0" src="http://www.widgeo.net/img/logopm.png" style="position:absolute; bottom:0px; left:0px"></a>
</div> -->