<div id="tooplate_wrapper">    
    <div id="tooplate_middletuto">
    	<div id="mid_titlebis">
        	<h3>Comment utiliser mon application ?</h3>	
            <iframe width="560" height="315" src="//www.youtube.com/embed/keKA2XFMpAw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p id="sous-titrebis"> Les étapes à suivre </br>
        	- Etape 1</br>
            - Etape 2</br>
            - Etape 3</br>
            - Etape 4</br>
        aiuryaoiuhrodxaiurzciuaryxiuatroiuctaiytrxiuatuzrcbuQHG JBQHGSKJG
     QLIURCgZBRCYGQKGRC kgbrckyQGBXRNGQG</p>
    </div> <!-- end of middle --> 
</div>