<div id="tooplate_footer_wrapper">
    <div id="tooplate_footer">
    
        Copyright © 2014-2015 <a>La Salle du Temps</a> - Designed by <a rel="nofollow" href="http://www.tooplate.com" target="_parent">Website Templates</a>
    
    </div> <!-- end of tooplate_footer -->
</div>